@charset "UTF-8";

/*
em HTML é id  = em CSS é # (regra só pode 1 por documento)
em HTML é class = em CSS é . (modo correto pode ter mais de 1)
*/
body{
    background-color: rgb(204, 247, 232);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(27, 121, 89);
}
h1#principal{
    text-align: center;
    background-color: rgb(97, 141, 128);
    color: rgb(255, 255, 255);
}

h2{
    color: rgb(45, 83, 70);
}

.basico{
    color: blue;
}
.intermediario{
    color: black;
}

.destaque{
    background-color: brown;
}